
*{
  margin: 0; 
  padding: 0;
}

section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(247, 249, 249);
}
section h1{
  padding-bottom: 30px;
  font-size: 2rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-shadow: 1px 1px 2px white;
}
.centerdiv{
  width: 400px;
  height: 300px;
  border-radius: 10px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(16, 183, 127);
}
.insertBox{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}
#v1, #v2{
  text-align: center;
  padding: 10px 20px;
  width: 35px;
  border: none;
  font-size: 30px;
  box-shadow: 1px 1px 0px #999,
              2px 2px 0px #999,
              3px 3px 0px #999,
              4px 4px 0px #999;
}
.box1 p{
      font-size: 40px;
      font-weight: bold;
      margin: 1px 5px;
}
.middleBox #answer{
  margin: 30px 0;
  padding: 5px 0;
  font-size: 30px;
  border-radius: 20px;
  outline: none;
  border: none;
  text-align: center;
  width: 180px;
}
 button{
  padding: 10px 20px;
  font-size: 20px;
  color: white;
  border: none;
  background-color: rgb(1, 121, 81);
  border-radius: 2px;
  border-radius: 10px 20px;
}
button:hover{
  background: white;
  color: rgb(29, 242, 175);
  transition: 0.5s;
}
