*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* background-color: rgb(7, 7, 7); */
    background-image: linear-gradient(45deg, rgb(40, 23, 76), rgb(232, 90, 94));
}
.calculator{
    display: grid;
    grid-template-columns: repeat(4,68px);
    gap: 15px;
    background-color: rgb(67, 148, 229);
    padding: 20px;
    border-radius: 10px;
    background-image: linear-gradient(45deg, rgb(43, 33, 93), rgb(81, 240, 237))
}
#input{
    height: 100px;
    grid-column:span 4;
    outline: none;
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-size: 50px;
    box-shadow: inset 0px 0px 30px rgb(242, 170, 170);

}
button{
    background-color: rgb(251, 192, 74);
    border: none;
    font-size: 20px;
    padding: 10px;
    border-radius: 20px;

}
.operation{
    background-color: rgba(242, 9, 9, 0.973);
}
button:active{
    background-color: blanchedalmond;
}
@media only screen and (max-width:370px){
    .calculator{
        padding: 10px;
    }
}