* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgba(246, 215, 249, 0.378);
    position: relative;
}


main {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: white;
    border-radius: 0.6rem;
    padding: 2rem 4rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.user_img{
    border-radius: 50%;
}
.first_section {
    display: grid;
    justify-items: center;
    gap: 1rem;
}

.first_sectio img {
    border-radius: 100vw;
    object-fit: cover;
    border: 2px solid rgb(158, 157, 157);
    padding: 0.3rem;
    box-shadow: 0px 2px 2px 0px rgba(223, 227, 231, 0.777);
}
.details {
    display: grid;
    justify-items: center;
    gap: 0.3rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.user {
    background-color: rgba(250, 217, 221, 0.521);
    padding: 0.3rem 1rem;
    border-radius: 100vw;
    box-shadow: 0px 10px 10px rgba(118, 129, 138, 0.167);
    color: rgb(129, 129, 129);
}
 .channel {
    font-weight: 900;
    font-size: 1.4rem;
}

.second_section {
    display: grid;
    gap: 1rem;

}

.second_section p {
    font-weight: 600;
}

.second_section input {
    padding: 0.8rem 1%;
    width: 100%;
    border: 1px solid rgb(131, 127, 127);
    border-radius: 0.3rem;
}

.second_section input:active {
    border: 1px solid rgb(232, 99, 99);
}

.third_section {
    display: flex;
    gap: 0.4rem;
    align-items: center;
    justify-content: center;
}

.third_section input {
    padding: 3rem;
    width: 2rem;
    height: 1.5rem;
}

.third_section input:active {
    accent-color: pink;
}

.third_section a {
    text-decoration-line: underline;
    color: rgb(254, 43, 78);
}

.fourth_section {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(251, 76, 105);
    padding: 0.7rem 0rem;
    border-radius: 100vw;
    color: white;
    font-weight: 900;
}

.fifth_section {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration-line: underline;
    color: rgb(245, 85, 112);
    font-weight: 700;
}
.container2 {
    position: absolute;
    bottom: 50px;
    width: 700px;
    height: 400px;
    background-color: rgba(118, 129, 138, 0.167);
    z-index: -1;
    border-radius: 0.2rem;
}
@media only screen and (max-width:700px) {
    main {
        padding: 2rem;
        margin: 1.7rem;
    }

    .container2 {
        position: absolute;
        bottom: 50px;
        width: 300px;
        height: 100px;
        background-color: rgba(118, 129, 138, 0.167);
        z-index: -1;
        border-radius: 0.2rem;
    }
}

@media only screen and (max-width:400px) {
    main {
        padding: 0.8rem;
        margin: 0.7rem;
    }
}