*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(to top right,rgb(126, 192, 240),rgb(218, 190, 245));
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    gap: 3rem;
    padding: 70px 100px;
    border-radius: 5px;
    box-shadow: 1px 10px 10px rgb(168, 168, 248);
}
.top-line{
    height: 15px;
    width: 500px;
    background-image: linear-gradient(to right,rgb(245, 166, 21),yellow,rgb(170, 242, 170),rgb(146, 146, 243),rgb(211, 170, 248),rgb(239, 193, 200));
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
.sec-1{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1rem;
}
.css-reference{
    font-size: 20px;
    font-weight: bold;
}
.sec-2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr ;
    gap: 2.5rem;
}

.class,.property,.func,.d-type,.concept ,.rule{
    border: 1px solid yellow;
    padding: 20px;
    text-align: center;
    border-radius: 3px;
    box-shadow: 0px 0px 0.px 0.6px rgb(244, 244, 157);
}
.func{
    box-shadow: 0px 0px 0.01px 0.6px rgb(160, 236, 160);
}
.d-type{
    box-shadow: 0px 0px 0.01px 0.6px rgb(164, 164, 245);
}
.concept{
    box-shadow: 0px 0px 0.01px 0.6px rgb(200, 160, 237);
}
.rule{
    box-shadow: 0px 0px 0.01px 0.6px rgb(243, 142, 176);
}
@media only screen and (max-width:700px){
    main{
        padding: 20px;
    }
}
@media only screen and (max-width:680px){
    .top-line{
        width: 300px;
    }
    .sec-2{
        display: grid;
        gap: 1rem;
    }
}
@media only screen and (max-width:480px){
    .sec-2{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    main{
        width: 90%;
    }
    .top-line{
        width: 250px;
    }
}
